.btnremplirInfo{
    position:relative;
     left: 0px;
     top:100px;
}
.alrt{
    color:red;
    position:absolute;
    left: 0px;
    top:140px;
    
}

.btndeco{
     position:absolute;
     right: 0px;
     top:80px;
}
#cards{
    position:relative;
    top:150px;
    left:100px;
}
.nometprenom{
    position:relative;
    top:120px;
    color: rgb(8, 8, 129);
    text-decoration: underline;
}